.posts {
    max-width: 600px;
    text-align: center;
    margin: 25px auto;
}

.post-container p{
    background-color: burlywood;
    margin-top: 25px;
    border-radius: 15px;
    padding: 15px;
}
